################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myFirstApp/.vs/myFirstApp/FileContentIndex/1fc77b52-e2a4-4dc7-8ce5-79cc02b2e1fc.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/42192aec-3819-4d2e-94a2-ec82fd767a41.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/8385a587-8576-4730-850d-0c976d997ce4.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/cfb0f523-8fb7-434e-9b62-1d67ce02822f.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/28faa8ce-8006-4a78-9a0f-ceaa2da765e5.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/01d92c5a-5615-4be3-ad89-44fe568f78f0.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/01d92c5a-5615-4be3-ad89-44fe568f78f0.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/26cbca77-f1b0-44ae-a693-ba7f9252c604.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/9086c6ab-e389-4611-8e9d-7735cb8f7005.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/a42f9aef-78dd-4248-80a1-c5c6d4c11dc0.vsidx
/myFirstApp/.vs/myFirstApp/FileContentIndex/bc09a55e-d85e-49dc-ae2e-9ec8d5279ccd.vsidx
